
body {    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: monospace, sans-serif;
    background-color: var(--color2);
}

/* main {
    display: inline-flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* margin-bottom: calc(var(--footer-height));
} */

/* section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
} */

header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 50px;
}

.in-out {
    display:flex;
    flex-direction:column;
    justify-content:right;
    width: 400px;
    margin-right: 20px;
    gap: 10px;
}

#num1, #num2 {
    height: 50px;
}

#math-result {
    border-top: 2px solid black;
}

.operator {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    margin-right: 10px;
}

.math-buttons {
    display:flex;
    flex-direction:column;
    gap: 10px;
}
.math-buttons > button {
    background-color:black;
    color:white;
    border-radius:8px;
    height: 35px;
    width: 80px;
    font-family:monospace;
    padding: 5px;
    }

.math-buttons > button:hover {
    border: 2px solid white;
}